<section class="{{this.styleNamespace}}">
  <h2> Parks </h2>
  <ul>
    {{#each @locations as |location|}}
      <Locations::Location @location={{location}} @panTo={{@panTo}} />
    {{/each}}
  </ul>
  {{yield}}
</section>
